@charset "utf-8";

@media screen and (min-width: 700px){
    span#icon{
        display: none;
    }

    menu{
        display: block;
        text-align: center;
    }

    menu > ul > li{
        display: inline-block;
    }
}