@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Display:ital@0;1&family=Passion+One:wght@400;700;900&family=Rubik+Glitch&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Display:ital@0;1&family=Passion+One:wght@400;700;900&family=Rubik+Glitch&family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
    padding: 50px 0px 50px 0px;
    text-align: center;
}

header h1{
    font: normal normal 5em 'Passion One';
    font-variant: small-caps;
    color: white;
    
}

header p{
    font: normal normal 1em 'Sriracha';
    color: rgb(226, 226, 226);
}

header a{
    color: rgb(243, 243, 243);
    text-decoration: none;
    font: bold normal 1em 'Sriracha';
}

header a:hover{
    color: red;
    text-decoration: underline;
}