@charset "utf-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

@media print{

    body{
        color: black;
        border: 2px solid black;
    }
    #pc{
        display: none;
    }
    #mobile{
        display: none;
    }
    #inpressora{
        display: block;
    }
    #tablet{
        display: none;
    }
    #tv{
        display: none;
    }
}
@media screen and (min-width: 600px) and (max-width: 992px) {
    body{
        background: url(../imagens/back-tablet.jpg) no-repeat;
        background-size: cover;
    }

    #pc{
        display: none;
    }
    #mobile{
        display: none;
    }
    #inpressora{
        display: none;
    }
    #tablet{
        display: block;
    }
    #tv{
        display: none;
    }
}

@media screen and (min-width: 992px) and (max-width: 1300px) {

    body{
        background: url(../imagens/back-pc.jpg) no-repeat center center;
        background-size: cover;
    }

    #pc{
        display: block;
    }
    #mobile{
        display: none;
    }
    #inpressora{
        display: none;
    }
    #tablet{
        display: none;
    }
    #tv{
        display: none;
    }
}

@media screen and (min-width: 1300px) and (max-width: 1900px) {

    body{
        background: url(../imagens/back-tv.jpg) no-repeat center center;
        background-size: cover;
    }

    #pc{
        display: none;
    }
    #mobile{
        display: none;
    }
    #inpressora{
        display: none;
    }
    #tablet{
        display: none;
    }
    #tv{
        display: block;
    }
}